.past {
    background-image: url('/public/images/mountains.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    padding-top: 80px; 
    padding: 20px;
}

.buttons {
    padding-top: 15px;
    padding-bottom: 15px;
}

  